
.navbar-brand{
    color: #6e57e0 !important;
}
.nav-link{
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.nav-btn{
    all: unset;
    color: #ffffff;
    background-color: #6e57e0;
    border-radius: 5px;
}
.navbar{
    border-bottom: 2px solid #ffffff;
    box-shadow: 2px 2px 5px #ccc;
}

/* =================Home================= */
.home-img{
    border-radius: 10px;
    height: 500px;
}
@media (max-width:786px) {
    .home-img{
        width: 300px;
        height: 300px;
    }
}
.home-p{
    font-size: 18px;
    color:  #9ca3af;
}
.home-2{
    margin-top: 65px !important;
}
@media (max-width:768px) {
    .home-2{
        margin-top: 0px !important;
    }
}
.home1-btn{
    all: unset;
    background-color: #6e57e0;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
}
.home2-btn{
    all: unset;
    background-color: #ffffff;
    border:1px solid  #6e57e0;
    color: #6e57e0;
    border-radius: 5px;
    padding: 10px 20px;
}

/* ==========================About============================ */

.about-img{
    width: 500px;
    height: 589px;
    border-radius: 5px;
}
.education-box{
    width: 250px;
    height: 130px;
    background-color:  #EEEEEE;
    border-radius: 8px;
}
.clg-ins{
    font-size: 14px;
}
@media (max-width:768px) {
    .about-img{
        width: 400px;
        height: 350px;
    }
}


